.dropdown-content>a{
    color: currentColor;
    text-decoration: none;
    padding: 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}


.dropdown:hover .dropdown-content{
    display: flex;
}
.dropdown>:hover .dropdown-content{
    display: flex;
}

.dropdown-content{
    position: absolute;
    bottom: -134px;
    left: -10px;
    background-color: #ededed;
    width: 170px;
    display: flex;
    color: gray;
    flex-direction: column;
    display: none;
}
.dropdown-content>a:hover{
    background-color: gray;
    color: white;
}